<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spot Finder</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <nav class="nav-container">

      <div class="nav-logo">
        <a href="/places">
          <h2>Spot Finder</h2>
        </a>  
      </div>

      <% if (user) { %>
        <div class="nav-bar">
          <div class="user-photo" style="background-image: <%= user.displayPicture.picPath %>">    
            <img src="<%= user.displayPicture.picPath %>" alt="" >
          </div>
          <div class="user-name">
            <h2><%= user.username %></h2>
          </div>
          <div class="logout-btn">
            
            <div class="create-btn">
              <button><a href="/places/create">Create</a></button>
            </div>
            <form action="/logout" method="post">
              <button>Logout</button>
            </form>
          </div>
          
        </div>

      <% } %>

      <% if(!user) { %>
        <div class="login-container">

            <div class="login-form">
              <form action="/index" method="POST">
                    <label for="username">Username</label>
                    <input type="text" name="username">

                    <label for="password">Password</label>
                    <input type="password" name="password">

                  <% if (typeof errorMessage != "undefined") { %>
                    <div class="error-message"><%= errorMessage %></div>
                  <% } %>
                  
                    <input id="login-btn" type="submit" value="Log In">

                  <div class="signup-login">
                    <p>Don't have an account? <a href="/signup">Signup</a></p>
                  </div>
              </form>
            </div>
          
          </div>
      <% } %>
    </nav>

    <%- body -%>
  </body>
</html>