
<% places.forEach((place) => { %>
    <div class="more-places <%= place.type %>">
      <p>
        Address: <%= place.address %><br>
        Name:    <%= place.name %><br>
        Type:    <%= place.type %><br>
  
        <% if (user._id == place.createdBy) { %>
        <form action="/places/<%= place.id %>/delete" method='post'>
          <input type="submit" value="DELETE">
        <% } %>
        </form>
  
      </p>
      <img src="<%= place.displayPicture.picPath %>" alt="">
  
    </div>
    <%  }) %>