
    <div class="more-places <%= places.type %>">
      <p>
        Address: <%= places.address %><br>
        Name:    <%= places.name %><br>
        Type:    <%= places.type %><br>
  
        <% if (user._id == places.createdBy) { %>
        <form action="/places/<%= places.id %>/delete" method='post'>
          <input type="submit" value="DELETE">
        <% } %>
        </form>
  
      </p>

      <img src="<%= places.displayPicture.picPath %>" alt="">

      <% places.additionalPicture.forEach((picture) => { %>
        <img src="<%= picture.picPath %>" alt=""> 
      <% }) %>
      <a href="/places/<%= places.id %>/addPhoto">add a photo</a>
  
    </div>
