<div class="container">

  <div class="column small-11 small-centered slider-ctn">
    <div class="slider slider-single">
      <img class="size detail-image" src="<%= places.displayPicture.picPath %>" alt="">
      <% places.additionalPicture.forEach((picture) => { %>
      <div class="item single">
        <img src="<%= picture.picPath %>" alt="" draggable="false"> 
      </div>
      <% }) %> 
    </div>

    <div class="slider slider-nav">
      <img class="detail-image" src="<%= places.displayPicture.picPath %>" alt="">
      <% places.additionalPicture.forEach((picture) => { %>
      <div class="item">
        <img src="<%= picture.picPath %>" alt="" draggable="false"> 
      </div>
    <% }) %>
  </div>
</div>

  <div class="detail-ctn">
    <div class="detail-info">
      <h3 class="detail-name"><%= places.name %></h3>
      
      <div class ="img-<%= places.type %>"></div>

      <p class="detail-address">
          Address: <%= places.address.name %><br>
      </p>
      <p><%= places.description %></p>
    </div>

        <% if (user._id == places.createdBy) { %>
        <form action="/places/<%= places.id %>/delete" method='post'>
          <input id="delete-btn" type="submit" value="DELETE">
        </form>
        <% } %>


      <form id="addPhoto" action="/places/<%= places.id %>" method="POST" enctype="multipart/form-data">
        <h2 class="photo-upload-header">Upload a new picture</h2>
        <input id="photo-upload-input" type="file" name="file">
    
        <button>SUBMIT</button>
    </form>  

  </div>
  <div class="map-stuff">
    <div class="more-map"id="map"></div>
  </div>
</div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF_NBAF_E7cJKqkXqxQmVt6Cskv-W7o_0&callback=initMap"
  ></script>
  <script type="text/javascript"> var myPlaces = <%- JSON.stringify(places) %>; </script>
  <script type="text/javascript" src="/javascripts/maps.js"></script>
