
    <div class="more-places <%= places.type %>">
        <img class="place-image" src="<%= places.displayPicture.picPath %>" alt="">

      <p>
        Address: <%= places.address %><br>
        Name:    <%= places.name %><br>
        Type:    <%= places.type %><br>
  
        <% if (user._id == places.createdBy) { %>
        <form action="/places/<%= places.id %>/delete" method='post'>
          <input type="submit" value="DELETE">
        <% } %>
        </form>
  
      </p>


      <% places.additionalPicture.forEach((picture) => { %>
        <img src="<%= picture.picPath %>" alt=""> 
        <% if (user._id == places.createdBy) { %>
          <form action="/places/<%= places.id %>/delete" method='post'>
            <input type="submit" value="DELETE">
          <% } %>
      <% }) %>

      <form id="addPhoto" action="/places/<%= places.id %>" method="POST" enctype="multipart/form-data">

        <h2>Upload your photo</h2>
        <input type="file" name="file">
    
        <button>SUBMIT</button>
    
    </form>
      
    </div>
