
<div class="container">

<div class="filter-bar">
<ul>
  <li>
    <button class="btn-filter active" onclick="filterSelection('all')">Show All</button>
  </li>

  <li>
    <button class="btn-filter" onclick="filterSelection('skate')">Skate</button>
  </li>

  <li>
    <button class="btn-filter" onclick="filterSelection('snowboard')">Snowboard</button>
  </li>

  <li>
    <button class="btn-filter" onclick="filterSelection('surf')">Surf</button>
  </li>
</ul>
</div>

<% places.forEach((place) => { %>
  <div class="place <%= place.type %>">
    <p>
      Address: <%= place.address %><br>
      Name:    <%= place.name %><br>
      Type:    <%= place.type %><br>

      <form action="/places/<%= place.id %>/delete" method='post'>

        <input type="submit" value="DELETE">
      </form>

    </p>
    <img src="<%= place.displayPicture.picPath %>" alt="">

  </div>
  <%  }) %>
  
</div>
  
  <script type="text/javascript" src="/javascripts/filters.js"></script>