
<div class="filter-bar">
<ul>
  <li>
    <button class="btn-filter active" onclick="filterSelection('all')">Show All</button>
  </li>

  <li>
    <button class="btn-filter" onclick="filterSelection('skate')">Skate</button>
  </li>

  <li>
    <button class="btn-filter" onclick="filterSelection('snowboard')">Snowboard</button>
  </li>

  <li>
    <button class="btn-filter no-border" onclick="filterSelection('surf')">Surf</button>
  </li>
</ul>
</div>

<div class="container">
  <% places.forEach((place) => { %>
    <div class="place <%= place.type %>">
      <div class="place-content">
        <div class="place-info">
          <p>
            <span>Address:</span> <%= place.address %><br>
            <span>Name:</span>   <%= place.name %><br>
            <span>Type:</span>    <%= place.type %><br>
            <span>Created by:</span> <%= place.createdBy.username %>
            <div class="place-view">
              <button><a href="/places/<%= place.id %>">View more</a></button>
            </div>
          </p>
        </div>

      <div class="place-btn">
          <% if (user._id == place.createdBy) { %>
          <form action="/places/<%= place.id %>/delete" method='post'>
            <input type="submit" value="DELETE">
          <% } %>
          </form>
      </div>

        <div class="place-image">
          <img src="<%= place.displayPicture.picPath %>" alt="">
        </div>
      </div>
  </div>
    <%  }) %>
  
</div>