
<div class="container">
  <% places.forEach((place) => { %>
    <div class="place <%= place.type %>">
      <div class="place-content">
        <div class="place-info">
          <p>
            <span><%= place.address %></span><br>
            <%= place.name %><br>
            <%= place.type %><br>
            <span>Created by:</span> <%= place.createdBy.username %><br>
            <div class="place-view">
              <button><a href="/places/<%= place.id %>">View more</a></button>
            </div>
          </p>
        </div>

      <div class="place-btn">
          <% if (user._id == place.createdBy) { %>
          <form action="/places/<%= place.id %>/delete" method='post'>
            <input type="submit" value="DELETE">
          <% } %>
          </form>
      </div>

        <div class="place-image">
          <img src="<%= place.displayPicture.picPath %>" alt="">
        </div>
      </div>
  </div>
    <%  }) %>
  
</div>